<form [formGroup]="filterForm" (submit)="submit()">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-form-field>
        <input matInput placeholder="Search" formControlName="search" />
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-checkbox class="example-margin" formControlName="wifi"
        >Wi-fi
      </mat-checkbox>
    </mat-list-item>
  </mat-list>

  <button mat-stroked-button>Apply</button>
</form>

<app-properties-list [properties]="properties"></app-properties-list>
